<section>
    <h2>
        <a href="/dashboard/add" class-"add-post-btn">Add New Post</a>
    </h2>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts (Press to edit)</h2>
    <ul class="edit-list">
        {{#each posts as |post|}}
        <li>
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">{{post.title}}</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}
